body {
  font-family: "Viga", sans-serif;
  background-color: #fcf8e8;
}
.container {
  display: block;
  margin: 20px auto;
  padding: 0px;
  max-width: 400px;
  border: 5px solid #e99683;
  border-radius: 10px;
  background-color: #d4e2d4;
  box-shadow: rgba(110, 43, 4, 0.12) 4px 8px 8px 2px;
}

.openSource {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  padding: 0px;
  font-size: 10px;
}

#search-field.col {
  padding: 15px 10px 15px 10px;
  text-align: center;
  max-width: 100%;
}

input[type="text"] {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #e99683;
  color: #fff;
  font-size: 16px;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
}

.city-search:hover,
.current-location-search:hover {
  cursor: pointer;
  background-color: #ecb390;
  transition: background-color 0.2s ease-in-out;
}

h1 {
  text-align: center;
  font-family: "Viga", sans-serif;
  margin: 0px;
}

#weather-data.row {
  margin: 0 auto;
  padding: 0;
}

#future-weather.row {
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  max-width: 400px;
  text-align: center;
  background-color: #ecb390;
}

ul.current-weather {
  margin: 0;
  padding: 10px 0 10px 10px;
  text-align: center;
  list-style-type: none;
}

#forecastDay {
  margin: 0 auto;
  padding: 0px;
  max-width: 400px;
  max-height: 65px;
  border: none;
}

#day1.row,
#day2.row,
#day3.row,
#day4.row,
#day5.row,
#day6.row {
  margin: 0 auto;
  padding: 0px;
}

#day1.row {
  background-color: #e99683;
}

#day2.row {
  background-color: #fcf8e8;
}

#day3.row {
  background-color: #d4e2d4;
}

#day4.row {
  background-color: #ecb390;
}

#day5.row {
  background-color: #e99683;
}

#day6.row {
  background-color: #d4e2d4;
  border-radius: 8px;
}

a {
  text-decoration-line: none;
}

#futureIcon {
  max-height: 65px;
  max-width: 65px;
  padding: 0px;
}

#forecastText {
  padding: 8px 0px 8px 8px;
}
#forecastIcon {
  text-align: right;
  padding: 0px;
}
